.grid {
    width: 1880px;
    height: 920px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 40px;
    height: 40px;
}

.wall {
    background-color: darkgreen;
}

.player {
    background-color: firebrick;
}