.grid {
    width: 1890px;
    height: 930px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 30px;
    height: 30px;
}

.wall {
    background-color: darkgreen;
}

.player {
    background-color: firebrick;
}